@media screen and (max-width: 1368px) {
  .article__game-category li {
    flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
  }

  .article__wrap .article__info {
    padding-left: 16px;
  }
}

@media screen and (max-width: 1270px) {
  .article__info .article__button-wrap {
    padding-top: 0;
  }

  .article__btn-game {
    justify-content: center;
  }

  .article__info .article__button-wrap .article__button {
    position: relative;
    margin-top: 16px;
  }

  .article__wrap .article__info {
    flex-direction: column-reverse;
    padding-left: 0;
  }
}

@media screen and (max-width: 1174px) {
  .article__game-category li {
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
  }
}

@media screen and (max-width: 1138px) {
  h2,
  .title.high {
    line-height: 45px;
  }
}

@media screen and (max-width: 1116px) {
  .faq__subtitle {
    font-weight: 500;
    font-size: 18px;
  }
}

@media screen and (max-width: 1108px) {
  /* -------------------------- */
  /* .header__menu {
    display: none;
  } */
/*  */
  /* .header__menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

  .header__menu.active {
    max-height: none;
    display: block;
    height: 100vh;
    opacity: 1;
  } */

  /*  */

  .header__btn-menu {
    display: block;
    background: #0b0c21;
    border: 1px solid #ffd400;
    border-radius: 8px;
    transition: all 0.5s;
  }

  .header__btn-menu.active {
    background: #0b0c21;
    transition: all 0.5s;
  }

  .header__btn-menu svg {
    display: block;
    margin: 0;
  }

  .header__btn-menu svg rect {
    transform-origin: 50% 50%;
    transition: all 0.5s;
  }

  .header__btn-menu.active svg rect:nth-child(1) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(225deg);
  }

  .header__btn-menu.active svg rect:nth-child(3) {
    opacity: 0;
  }

  .header__btn-menu.active svg rect:nth-child(2) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(135deg);
  }

  .header__menu {
    /* display: none; */
    position: fixed;
    top: 67px;
    left: 0;
    width: 100%;
    height: 0;
   
    overflow: hidden;
    background: #0b0c21;

    text-align: center;
    opacity: 0;
    padding: 20px 50px;
    transition: height 0.5s ease, opacity 0.5s ease;
    
    z-index: 100;
    overflow-y: auto;
    display: block;
   
  }

  .header__menu.active {
    display: block;
    height: 100vh;
    opacity: 1;
  }

  .header {
    z-index: 101;
  }

  .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
  }

  .header__menu ul li {
  
    white-space: nowrap;
  }

  .header__menu-list li + li {
    margin-left: 0;
  }

  .header__menu ul li + li {
    margin-top: 10px;
  }
  .menu ul {
    gap: 5px;
  }

  .menu ul li:not(:last-child) {
    margin-right: 0;
  }

  .menu ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header__btn {
    display: inline-block;
  }

  .header__btn a.header__btn-login,
  .header__btn a.header__btn-signin {
    display: block;
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__btn a.header__btn-signin {
    margin-top: 0;
    margin-right: 0;
  }
  .header__btn a.header__btn-login{
    margin-right: 0;
  }

  /* ----------------------- */

  .sidebar-wrapper {
    display: none;
  }

  .page-nav {
    display: block;
  }

  .content__wrapper {
    margin-left: 0;
  }

  .faq__subtitle {
    font-weight: 700;
    font-size: 20px;
  }

  .article__wrap .article__info {
    flex-direction: row;
  }
  .footer {
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .article__wrap .article__info {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 863px) {
  
  .article .image {
    display: none;
  }

  .article__vip ul {
    margin-left: 0;
  }
  .article__vip {
    justify-content: center;
  }

  .article__desk {
    max-width: 100%;
  }

  .ratings__list li {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }

  .background img{
    object-position: 95%;
  }

  .background__mobile-banner img{
    object-position: initial;
  }

  .hero__data{
    border: 1px solid #FFD400;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 1214px) {
  .article .article__label-list .article__label-item-last::before {
top: 12px;
  }
}

@media screen and (max-width: 737px) {
  .header__logo {
    margin-right: 0;
  }

  .faq__subtitle {
    font-weight: 500;
    font-size: 18px;
  }

  h2,
  .title.high {
    font-size: 30px;
  }

  .article__betting {
    flex-direction: column;
  }

  .features__list {
    flex-direction: column;
    background: none;
    border: none;
  }

  .features__info {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background: #14152d;
  }

  .features__info + .features__info {
    margin-top: 20px;
  }

  .article__statistic,
  .features__table table {
    width: 660px;
    border: 2px solid #ffd400;
    border-radius: 20px;
    display: block;
    overflow: auto;
    max-width: 100%;
  }

  .article__statistic tbody {
    display: block;
    width: 900px;
  }

  .features__table table tbody {
    display: block;
    width: 800px;
  }

  .article__statistic::-webkit-scrollbar,
  .features__table table::-webkit-scrollbar {
    height: 3px;
  }

  .article__statistic::-webkit-scrollbar-track,
  .features__table table::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  .article__statistic::-webkit-scrollbar-thumb,
  .features__table table::-webkit-scrollbar-thumb {
    background: #ffd400;
  }

  .main {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .background__article img{
    object-position: 85%;
  }
}

@media screen and (max-width: 718px) {
  .article__game-category li {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }

  
}

@media screen and (max-width: 680px) {
  .article__wrapper ul li::before {
    top: 12px;
  }
}

@media screen and (max-width: 661px) {
  .header__button-signin {
    display: none;
  }

  .header__logo {
    margin-right: auto;
  }

  table tr:first-child td,
  .features__list .features__subtitle {
    font-size: 20px;
    font-weight: 700;
  }

  .article__game-category h4 {
    font-size: 24px;
    font-weight: 700;
  }
}

@media screen and (max-width: 652px) {
  .hero__title {
    font-size: 38px;
    line-height: 50px;
    text-align: center;
  }

  .hero__rating {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
  }

  .hero__button {
    position: relative;
    margin-left: auto;
  }
}

@media screen and (max-width: 576px) {
  .review ul,
  .ratings__list,
  .article__game-category {
    flex-direction: column;
  }

  .review ul li,
  .article__game-category li {
    display: block;
    flex: 1 1 100%;
    max-width: 100%;
  }

  .ratings__list li {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .article__betting-img span {
    font-weight: 700;
  }

  .article__list li::before {
    top: 12px;
  }
  .content {
    padding: 15px;
  }

  .article .article__wrap {
    padding: 0;
    border: none;
  }

  .hero__data {
    top: 40px;
  }

  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }

  .footer__wrap p {
    text-align: center;
    margin-top: 16px;
  }
}

@media screen and (max-width: 514px) {
  .header__button-login {
    display: none;
  }


  h2,
  .title.high {
    font-size: 28px;
    line-height: 35px;
  }

  .article h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
  }

  .faq__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 40px 10px 16px;
  }

  .faq__subtitle::after {
    right: 10px;
  }
}

@media screen and (max-width: 508px) {
  .features__list-negative li::before {
    top: 32px;
  }

  

}

@media screen and (max-width: 506px) {
  .hero__data{
    top:10px;
  }
}

@media screen and (max-width: 468px) {
  .hero__title{
    font-size: 36px;
  }
}

@media screen and (max-width: 461px) {
  .article__game-category {
    flex-direction: column;
  }

  .article__game-category li {
    max-width: 100%;
  }

  .main {
    padding: 10px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 40px;
  }

  .hero__data {
    top: 85px;
  }
}

@media screen and (max-width: 446px) {
  /* .hero__data {
    padding-top: 10px;
  } */
}

@media screen and (max-width: 427px) {
  .faq__subtitle::after {
    top: 22px;
  }
}

@media screen and (max-width: 423px) {
  .hero__title{
    margin-bottom: 16px;
  }

  .hero__data{
    top:65px;
  }

}

@media screen and (max-width: 414px) {
  .hero__title {
    font-size: 28px;
  }

  .hero__data{
    top:85px;
  }
  .features__list-positive li::before {
    top: 32px;
  }
}



@media screen and (max-width: 375px) {
  .hero__title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .button {
    width: 220px;
  }
}

@media screen and (max-width: 367px) {
  .header__content {
    padding: 13px 10px;
  }

  .header__logo {
    flex: 0 0 160px;
  }
}

@media screen and (max-width: 336px) {
  .hero__data{
    top: 70px;
  }
}
/* -----------BOONUS-PAGE---------- */

@media screen and (max-width: 1417px) {
  .article .article__content-para,
  .article .article__content-nossa {
    padding-top: 60px;
  }
}



@media screen and (max-width: 1392px) {
  .article__info .article__button-wrapp {
    padding-bottom: 20px;
    padding-top: 40px;
  }

  .article__info-text-casino {
    max-width: 100%;
    margin-right: 0;
  }

  .article__wrap .article__info-casino {
    flex-direction: column;
  }

  .article__info .article__button-wrap .article__button-bonus {
    position: relative;
    margin-top: 0;
  }
}


@media screen and (max-width: 1318px) {
  
  .article .article__content {
    padding-right: 200px;
  }
}

@media screen and (max-width: 1218px) {
  

  .article .article__content {
    padding-right: 150px;
  }
  .article__info-bonus {
    margin-left: 240px;
  }
}

@media screen and (max-width: 1167px) {
  .hero__title-bonus {
    font-size: 38px;
    line-height: 50px;
  }

  .article .article__content {
    padding-right: 100px;
    background: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 1108px) {
  

  .article__info-bonus {
    margin-left: 467px;
  }
}

@media screen and (max-width: 979px) {
  .article__info-bonus {
    margin-left: 260px;
  }
}

@media screen and (max-width: 860px) {
  

  .article .article__info-bonus {
    max-width: 100%;
    margin-left: 0;
  }

  .article .article__wrap-bonus {
    border: none;
  }

  .article .article__content {
    padding-right: 16px;
  }
}

@media screen and (max-width: 786px) {
  .article .article__content-para {
    padding-top: 70px;
  }
}
@media screen and (max-width: 731px) {
  .hero__data-bonus {
    top: 5px;
  }

  .hero__title-bonus {
    font-size: 32px;
    line-height: 40px;
  }

  .article .article__content-nossa {
    padding-top: 60px;
  }
}

@media screen and (max-width: 724px) {
  .article__content-nossa ul li:nth-child(1)::before, .article__content-nossa ul li:nth-child(2)::before{
    top: 12px;
  }
  
}

@media screen and (max-width: 711px) {
  .article__content-nossa ul li:nth-child(3)::before{
    top: 12px;
  }}

@media screen and (max-width: 687px) {
  .article .article__content-para {
    padding-top: 60px;
  }
}

@media screen and (max-width: 672px) {
  .article .article__content {
    font-size: 12px;
    line-height: 20px;
    display: block;
  }
}

@media screen and (max-width: 665px) {
  .hero__data-bonus {
    top: 0;
  }}

@media screen and (max-width: 652px) {
  .breadcrumbs {
    justify-content: center;
  }

  .hero__data-bonus p {
    text-align: center;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 592px) {
  .article__list-item h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  .hero__data-bonus {
    top: 18px;
  }
  .background__article {
    
    
    min-height: 330px;
   
  }

}



@media screen and (max-width: 505px) {
  .hero__data-bonus {
    top: 5px;
  }
}

@media screen and (max-width: 505px) {
  .hero__data-bonus {
    top: 0;
  }
}

@media screen and (max-width: 500px) {
  .main__bonus {
    padding: 10px;
  }

  .hero__bonus {
    padding: 38px 10px;
}

  .hero__data-bonus {
    top: 30px;
  }

  .article__content-como ul li:nth-child(1)::before{
    top: 12px;
  }}

  .article .article__content {
   
    font-size: 14px;
    
    height: 100%;
    height: 100vh;
  }

  .article .article__content::-webkit-scrollbar {
    width: 3px;
  }

  .article .article__content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  .article .article__content::-webkit-scrollbar-thumb {
    background: #ffd400;
  }

  .article .article__content-nossa {
    padding-top: 60px;
  }

  .article .article__content-dicas {
    overflow: hidden;
  }
  @media screen and (max-width: 487px) {
    
    .background__article {
      
     
      min-height: 380px;
      
    }
    .article .article__content-dicas {
      padding-top: 150px;
    }
  
  }

@media screen and (max-width: 464px) {
  .article .article__content-nossa {
    padding-top: 90px;
  }
}

@media screen and (max-width: 460px) {
  .hero__title-bonus {
    font-size: 28px;
    line-height: 35px;
  }

  
}

@media screen and (max-width: 432px) {
    
  .background__article {
    
   
    min-height: 420px;
    
  }

}

@media screen and (max-width: 414px) {
  .article .article__content-dicas {
    padding: 80px 20px 20px 20px;
  }
}
@media screen and (max-width: 394px) {
    
  .background__article {
    
   
    min-height: 450px;
    
  }

}

@media screen and (max-width: 378px) {
  .hero__title-bonus{
    font-size: 22px;
    
  }
}

@media screen and (max-width: 364px) {
    
  .background__article {
    
   
    min-height: 460px;
    
  }

}

@media screen and (max-width: 350px) {
    
  .background__article {
    
   
    min-height: 500px;
    
  }

}

@media screen and (max-width: 349px) {
  .article .article__content-dicas {
    padding-top: 70px;
  }
}

/* ------------PAGE MOBILE-------- */



@media screen and (max-width: 1239px) {
  .banner__content {
    flex-direction: column;
    gap: 30px;
  }

  .banner__logo {
    flex: 0;
  }

  .banner__mobile {
    padding: 30px;
  }
}
@media screen and (max-width: 1214px) {
  .article .article__label-list {
    min-height: 196px;
  }
}


@media screen and (max-width: 1108px) {
  .article .article__label-list {
    min-height: 156px;
  }
}

@media screen and (max-width: 962px) {
  .article .article__label-list {
    min-height: 176px;
  }
}

@media screen and (max-width: 921px) {
  .article__list-mobile {
    flex-direction: column;
  }

  .article .article__label-list {
    min-height: 126px;
  }

  .hero__background-bonus img{
    object-position: 90%;
  }

  .hero__data-bonus {
    border: 1px solid #FFD400;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
}
}
@media screen and (max-width: 862px) {
  .hero__data-mobile {
    top:5px;
  }
}

@media screen and (max-width: 728px) {
  .hero__title-mobile {
    font-size: 38px;
    line-height: 50px;
  }

  .hero__data-mobile {
    top:20px;
  }
}
@media screen and (max-width: 686px) {
  .hero__data-mobile {
    top:0;
  }
}

@media screen and (max-width: 654px) {
  .banner__data {
    flex-direction: column;
    gap: 30px;
  }

  .banner__button-ios,
  .banner__button-android {
    justify-content: center;
  }

  .background__mobile img {
    object-position: 35%;
  }

  .banner__mobile {
    padding: 40px 60px;
  }
}

@media screen and (max-width: 577px) {
  .hero__data-mobile {
    top:20px;
  }
}

@media screen and (max-width: 509px) {
  .article .article__label-list li.article__label-item-last::before {
    top: 11.5px;
  }
}

@media screen and (max-width: 507px) {
  .hero__data-mobile {
    top:35px;
  }

  .hero__mobile{
    padding: 10px;
  }

  .hero__title-mobile {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 50px;
  }
}

@media screen and (max-width: 461px) {
  .hero__data-mobile {
    top: 80px;
  }

  .hero__title-mobile {
   
    font-size: 28px;
    line-height: 40px;
  }

 
}

@media screen and (max-width: 375px) {
  .banner__data {
    align-items: center;
  }
}

@media screen and (max-width: 370px) {
  .hero__data-mobile {
    top: 60px;
  }}

@media screen and (max-width: 349px) {
  .article .article__label-list li.article__label-item-first::before {
    top: 11.5px;
  }
}

@media screen and (max-width: 327px) {
  .hero__data-mobile {
    top: 70px;
  }
  .hero__title-mobile {
   
    font-size: 26px;
    line-height: 35px;
  }
}
